.sticky {position: fixed; left: 0;}
.topNav {top: 0;background-color: rgb(213, 203, 184);height: 20%;max-height: 100px;width:100%;}
.topNav nav {background: repeating-linear-gradient(0deg, rgb(213, 203, 184), rgb(213, 203, 184) 1px, rgb(167, 122, 81) 1px, rgb(167, 122, 81) 2px);width:100%;height:100%;}

@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
body {
  margin: 0;
  background-color: #00171f;
  font-family: "Alata", sans-serif;
}

dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  color: whitesmoke;
}
dl * {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

dt {
  --size: 20vmin;
  bottom: 50%;
  width: var(--size);
  height: var(--size);
  font-size: calc(var(--size) - 4vmin);
  opacity: 0;
  transform: translateY(100%);
  animation: dt 45s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}
dt:after {
  content: "";
  position: absolute;
  top: 1vmin;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: 50% 100%;
  animation: dt-pseudo 45s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
dt:nth-child(1), dt:nth-child(1):after {
  animation-delay: 0s;
}
dt:nth-child(1):after {
  background-color: #00A8E8;
}
dt:nth-child(3), dt:nth-child(3):after {
  animation-delay: 4.5s;
}
dt:nth-child(3):after {
  background-color: #F2BB05;
}
dt:nth-child(5), dt:nth-child(5):after {
  animation-delay: 9s;
}
dt:nth-child(5):after {
  background-color: #84A07C;
}
dt:nth-child(7), dt:nth-child(7):after {
  animation-delay: 13.5s;
}
dt:nth-child(7):after {
  background-color: #E05263;
}
dt:nth-child(9), dt:nth-child(9):after {
  animation-delay: 18s;
}
dt:nth-child(9):after {
  background-color: #465362;
}
dt:nth-child(11), dt:nth-child(11):after {
  animation-delay: 22.5s;
}
dt:nth-child(11):after {
  background-color: #593C8F;
}
dt:nth-child(13), dt:nth-child(13):after {
  animation-delay: 27s;
}
dt:nth-child(13):after {
  background-color: #9E0059;
}
dt:nth-child(15), dt:nth-child(15):after {
  animation-delay: 31.5s;
}
dt:nth-child(15):after {
  background-color: #357266;
}
dt:nth-child(17), dt:nth-child(17):after {
  animation-delay: 36s;
}
dt:nth-child(17):after {
  background-color: #11B5E4;
}
dt:nth-child(19), dt:nth-child(19):after {
  animation-delay: 40.5s;
}
dt:nth-child(19):after {
  background-color: #59FFA0;
}

dd {
  --size: 5vmin;
  top: 55%;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 70vmin;
  font-size: calc(var(--size) - 1vmin);
  line-height: 1.2;
  opacity: 0;
  transform: translateY(80%);
  animation: dd 45s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
dd:nth-child(2) {
  animation-delay: 0s;
}
dd:nth-child(4) {
  animation-delay: 4.5s;
}
dd:nth-child(6) {
  animation-delay: 9s;
}
dd:nth-child(8) {
  animation-delay: 13.5s;
}
dd:nth-child(10) {
  animation-delay: 18s;
}
dd:nth-child(12) {
  animation-delay: 22.5s;
}
dd:nth-child(14) {
  animation-delay: 27s;
}
dd:nth-child(16) {
  animation-delay: 31.5s;
}
dd:nth-child(18) {
  animation-delay: 36s;
}
dd:nth-child(20) {
  animation-delay: 40.5s;
}
dd:nth-child(22) {
  animation-delay: 45s;
}

@keyframes dt {
  2.5% {
    transform: translateY(0);
    opacity: 1;
  }
  5% {
    transform: translateY(0);
    opacity: 1;
  }
  7.5% {
    transform: translateY(2%);
    opacity: 0;
  }
}
@keyframes dt-pseudo {
  2.5% {
    transform: scale(1, 0.1);
  }
  5% {
    transform: scale(1, 0.1);
  }
  7.5% {
    transform: scale(0, 0.1);
  }
}
@keyframes dd {
  5% {
    transform: translateY(0);
    opacity: 1;
  }
  10% {
    transform: translateY(2%);
    opacity: 0;
  }
}